<%# footer に背景色、テキスト色を、margin-topを指定 %> 
<footer class="bg-light text-muted mt-5">
  <%# 固定幅の container %> 
  <div class="container">
    <%# 列の padding-top と padding-bottom を指定 %> 
    <div class="row pt-5 pb-3">
      <%# colは12列全て使用。テキストは中央揃え %> 
      <div class="col-sm-12 text-center">
        Copyright (c) 2021 tastylog. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>